<div
  class="h-[5rem] fixed bottom-0 left-0 right-0 bg-white shadow-md px-6 py-2 flex justify-between items-center rounded-t-2xl md:hidden"
>
  <i class="fa-solid fa-house text-blue-600 text-3xl"></i>

  <i class="fa-solid fa-chart-simple text-gray-400 text-3xl"></i>

  <button
    routerLink="/dashboard/add-expense"
    class="w-14 h-14 bg-blue-600 rounded-full flex items-center justify-center shadow-lg"
  >
    <i class="fa-solid fa-plus text-white text-2xl"></i>
  </button>

  <i class="fa-solid fa-wallet text-gray-400 text-3xl"></i>

  <i class="fa-regular fa-user text-gray-400 text-3xl"></i>
</div>
