.add-category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid blue;
  color: blue;
  font-size: 2rem;
  margin-right: 1rem;
}
